<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add connectionString="Data Source=LAPTOP-SJD7JKLB\SQLEXPRESS;Initial Catalog=RainbowSchool;Integrated Security=True" name="RainbowCnString" providerName="System.Data.SqlClient"></add>
	</connectionStrings>
</configuration>